html{
  
  background: linear-gradient(90deg,#ffb0ca 24%, #000000 24%, #000000 24.5%, #fcc0f2 24.5%);
}

p{
  color: black;
  font-family: verdana,sans-serif;
}

.rankme img{
    height: 350px;
    width: 350px;
}
.main-buttons button{
  border-color: black;
  background-color: white;
  font-size: large;
}
.main-buttons:hover button{
  background-color: turquoise;

}
